@import url('https://fonts.googleapis.com/css2?family=Space+Mono&display=swap');

/* Default font for body */
body {
    font-family: 'Space Mono', monospace !important;
}

/* secondary font */
.secondary-font, #secondary-font {
    font-family: 'Space Mono', monospace;
}

/* primary font */
.primary-font, #primary-font {
    font-family: "Alata", sans-serif;
}

/* Default font */
.default-font, #default-font {
    font-family: "Roboto", sans-serif;
}